body {
    font-family: "Inclusive Sans", Arial, sans-serif;
    background-color: black;
    
}
.header {
    background-color: #D90404;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

:root {
    --font: 'Bricolage Grotesque', sans-serif;
    --font2: 'Kanit', sans-serif;
    --nav: rgb(173, 39, 39);
    --navLat: black;
  }
/*
.grid-container {
    display: grid;
    grid-template-columns: repeat (auto-fit, minmax (300px, 1fr));
    gap: 20px;
    padding: 20px;
   
}

.grid-item {

    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
}
*/

.footer {
    background-color: #D90404;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
/*
h2 {
    color: rgb(255, 255, 255);
    text-align: center;

}

h3 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.p {
    color: rgb(255, 255, 255);
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
*/

.containerIndex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-left: 10px;
    max-width: 100vh;
    margin: auto;
    color: var(--nav);
  }

  .imgIndex {
    min-width: 40vh;
    max-width: 40vh;
    min-height: 30vh;
    max-height: 30vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid var(--nav);
    border-top: 20px solid var(--nav);
  }
  
  
  
  .griditem {
    background-color: #fff;
    border: 1px solid #ddd;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .griditem > h1{
    align-self: center;
  }
  
  .texto{
    text-align: center;
    color: var(--navLat);
    border: none;
  }

  .textoCentral {
    text-align: center;
    margin-top: 20px;
  }
  

.carousel-container {
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 1s;
}

.carousel-slide {
    transition: opacity 1s;
    opacity: 0;
}

.carousel-slide.active {
    opacity: 1;
}
