body {
    font-family: Arial, sans-serif;
    background-color: #0D0D0D;
    color: #fff;
    line-height: 1.6;
}

header {
    background-color: #D90404;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 48px; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}

.imagem {
    text-align: center;
    margin-bottom: 20px;
}

.imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2.8px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

p {
    font-size: 18px; 
    text-align: justify;
    margin-bottom: 20px;
    color: #595959; 
}

a {
    color: #D90404;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px; 
    margin-top: 20px; 
    color: #D90404; 
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #D90404;
    color: #fff;
}

.footer p {
    color: #fff;
    margin: 5px 0;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 36px; 
    }

    .container {
        padding: 10px;
    }

    p {
        font-size: 16px;
    }
}